SELECT [Contact Date]
      ,[Contact Date Month]
      ,[Contact Date Quarter]
      ,[Contact Date Semester]
      ,[Contact Date Week No]
      ,[Contact Date Year]
      ,[Contact Date WeekDay]
  FROM [Health].[dbo].[Contact History]
  GROUP BY [Contact Date]
      ,[Contact Date Month]
      ,[Contact Date Quarter]
      ,[Contact Date Semester]
      ,[Contact Date Week No]
      ,[Contact Date Year]
      ,[Contact Date WeekDay]
  ORDER BY [Contact Date]